name: Delete cloudformation stack on branch delete
on:
  delete:
    branches:
      - "*"

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.ACCESS_KEY_SECRET }}
          aws-region: eu-north-1

      - name: Delete the stack referred by the branch name
        run: aws cloudformation delete-stack --stack-name "dmitriECS-${{ github.event.repository.name }}-${{ github.event.ref }}"


      - name: Delete AWS ECR Repo
        run: aws ecr delete-repository --repository-name ${{ github.event.repository.name }}-${{ github.event.ref }} --force




            # pBranchName=${{ github.ref_name }},
            # pRepoName=${{ github.event.repository.name }},
