name: Deploy CloudFormation Stack
on:
  create:
    branches:
      - "*"

  workflow_dispatch:


env:
  AWS_REGION: "eu-north-1"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.ACCESS_KEY_SECRET }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy VPC to AWS
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: dmitriVPC
          template: infra/00_foundation_layer.yaml
          no-fail-on-empty-changeset: "1"

      - name: Create ECR with repo name
        run: |
          echo "RUNNING: ecr create-repository --repository-name ${{ github.event.repository.name }}-${{ github.ref_name }} --region ${{ env.AWS_REGION }}"
          aws ecr create-repository --repository-name ${{ github.event.repository.name }}-${{ github.ref_name }} --region ${{ env.AWS_REGION }}

      - name: Replace env vars in file
        uses: dawidd6/action-replace-env-vars@v1
        with: 
          file: buildspec.yml
          ECR_REPO: ${{ github.event.repository.name }}-${{ github.ref_name }}

      - name: Replace env vars in file
        uses: dawidd6/action-replace-env-vars@v1
        with: 
          file: buildspec.yml
          URL: "https://{{ github.event.repository.name }}.dmitri.sandbox.soluzionifutura.it"

      - name: Deploy ECS to AWS
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: dmitriECS-${{ github.event.repository.name }}-${{ github.ref_name }}
          template: infra/01_template_layer.yaml
          no-fail-on-empty-changeset: "1"
          parameter-overrides: >-
            pBranchName=${{ github.ref_name }},
            pRepoName=${{ github.event.repository.name }},
            pDNSName=${{ github.event.repository.name }}.dmitri.sandbox.soluzionifutura.it
